<nav>
    <button class="nav-hamburger" id="nav-hamburger" aria-label="Menu">&#9776;</button>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle">Company</a>
            <ul class="dropdown-menu">
                <li><a href="about.html">About Us</a></li>
                <li><a href="customers.html">Customers</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle">Services</a>
            <ul class="dropdown-menu">
                <li><a href="embedded-firmware.html">Embedded Firmware</a></li>
                <li><a href="control-systems.html">Control Systems</a></li>
                <li><a href="motor-control.html">Motor Control</a></li>
                <li><a href="embedded-linux.html">Embedded Linux</a></li>
                <li><a href="hardware-design.html">Hardware Design</a></li>
                <li><a href="computer-vision.html">Computer Vision</a></li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle">Products</a>
            <ul class="dropdown-menu">
                <li><a href="personal-projects.html">Personal Projects</a></li>
            </ul>
        </li>
        <li class="nav-dropdown">
            <a href="#" class="dropdown-toggle">News</a>
            <ul class="dropdown-menu">
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>
